{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .float-card {
        animation: floatAnimation 3s infinite ease-in-out alternate;
    }
    
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    
    .mentorship-section {
        padding: 50px 0;
        height: 400px; /* Define a height for the carousel container */
    }

    .mentorship-carousel {
        margin-top: 50px; /* Adjust as needed */
        position: relative; /* Position relative for absolute positioning inside */
    }

    .mentorship-carousel .carousel-inner img {
        width: 100%;
        height: auto;
    }

    .mentorship-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 1; /* Ensure the message is on top of the carousel */
    }
</style>

<div class="card float-card" style="width:100%; border: 2px solid purple; margin-left:10px;">
    <section id="mentorship" class="mentorship-section">
        <div id="mentorship-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="mentorship-message">Mentorship at Refactory Academy</div>
                    </div>
                    <img src="{% static 'images/mentoring.png' %}" alt="Refactory Academy" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="mentorship-message">Mentorship at Groundbreaker</div>
                    </div>
                    <img src="{% static 'images/mentor.jpg' %}" alt="Groundbreaker" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mentorship-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mentorship-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</div>
<br><br><br>
{% endblock %}
